<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>CM3148 Prototype</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>

  <body>
    <header>
      <a href="{{ url_for('index') }}"><h1>CM3148 Login Authentication System</h1></a>
      <hr>
    </header>
    <h2>Account</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <table>
      <tr>
        <th>Change Your Password</th>
        <th>or</th>
        <th>Delete Your Account</th>
      </tr>
        <tr>
            <td>
                <form method="POST" action="{{ url_for('change') }}">
                    <label for="old_password">Old Password</label>
                    <input type="password" id="old_password" name="old_password" required>
                    <br>
                    <label for="new_password">New Password:</label>
                    <input type="password" id="new_password" name="new_password" required>
                    <br>
                    <label for="confirm_password">Confirm Password:</label>
                    <input type="password" id="confirm_password" name="confirm_password" required>
                    <br>
                    <div class="g-recaptcha" data-sitekey="6LdniRArAAAAAE-a4ttc4IbNlVgOatXxFbgJ5DRS"></div>
                    <br>
                    <input type="submit" value="Change Password">
                </form>
            </td>
            <td></td>
            <td>
                <form method="POST" action="{{ url_for('delete_account') }}">
                    <label for="password">Confirm Your Password:</label>
                    <input type="password" id="password" name="password" required>
                    <br>
                    <div class="g-recaptcha" data-sitekey="6LdniRArAAAAAE-a4ttc4IbNlVgOatXxFbgJ5DRS"></div>
                    <br>
                    <input type="submit" value="Delete Account">
                </form>
            </td>
        </tr>
    </table>

    <footer>
      <hr>
      <p>Copyright &copy; 2025 Clara Ringrose</p>
    </footer>

  </body>

</html>