<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>CM3148 Prototype</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>

  <body>
    <header>
      <a href="{{ url_for('index') }}"><h1>CM3148 Login Authentication System</h1></a>
      <hr>
    </header>
    <h2>Verify Email</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <table>
        <tr>
            <td>
                <form method="POST" action="{{ url_for('verify_email') }}">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                  <label for="code">Enter your email verification code:</label>
                  <input type="text" id="code" name="code" required autocomplete="off">
                  <button type="submit">Verify</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form method="POST" action="{{ url_for('resend_verification_code') }}">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                  <div class="g-recaptcha" data-sitekey="6LdniRArAAAAAE-a4ttc4IbNlVgOatXxFbgJ5DRS"></div>
                  <button type="submit">Resend Verification Email</button>
                </form>
            </td>
        </tr>
    </table>

    <footer>
      <hr>
      <p>Copyright &copy; 2025 Clara Ringrose</p>
    </footer>

  </body>

</html>